{
  "extends": ["standard-with-typescript", "prettier"],
  "plugins": ["prettier"],
  "overrides": [],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-throw-literal": ["off"],
    "@typescript-eslint/no-throw-literal": ["off"]
  }
}
